header {
  width: 100%;
  height: 400px;
  background-color: #d4c900;
  /* background-image: url(/public/images/ag-square.png); */
}

.icon {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 25px;
}


.centerName {
  display: flex;
  justify-content: center;
  align-self: center;
}