
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;  
  width: 100vw;
  height: 120px;
  background-color: #4056a1;
  color: #FFFFFF;
  position: fixed;
  top: 0;
}

/* edits the top left nav logo TWEETER */
.tweeterLogoStyling {
  align-self: center;
  font-family: "Bungee";
  font-size: 35px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.writeTweetDropDown {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

/* changes the color of the drop down button*/
.fa-solid {
  color: #eb0a0a;
}
