.new-tweet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

#tweetsForm {
  width: 100vw;
}

.tweetLabel {
  padding-top: 10px;
  display: flex;
  align-self: flex-start;
}

#errorHandlingMessage {
  border-style: solid;
  border-color: red;
  background-color: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#errorHandlingMessage i {
  color: white;
  width: 20px;
  margin-right: 10px;
}

#tweet-text {
  font-family: "source sans 3";
  font-weight: 600;
  padding-top: 5px;
  width: 90vw;
  font-size: 16px;
  outline: none;
  resize: none;
  border-bottom: ridge;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
}

.seperateButtonAndCounter {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding: 0%;
}

#thisDamnDiv {
  padding-left: 0%;
  padding-right: 0%;
}

.submitNewTweetButton1 {
  background-color: #4056a1;
  color: white;
  border: 0;
  margin-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Bungee";
}

.counter {
  font-family: "Bungee";
  margin-top: 12px;
  color: grey;
}

.counter.red {
  color: red;
}

@media (min-width: 1024px) {

  .seperateButtonAndCounter {
    display: flex;
    width: 100%;
  }

  .new-tweet {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
  }

  #tweet-text,
  #tweetForm {
    display: flex;
    width: 100%;
  }

  #tweetsForm {
    flex-direction: column;
  }

}