
.new-tweet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tweetLabel {
padding-top: 10px;
display: flex;
align-self: flex-start;
}

#tweet-text {
  width: 100vh;
  font-size: 16px;
  outline: none;
  resize: none;
  border-bottom:ridge;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
}

.seperateButtonAndCounter {
  display: flex;
  justify-content: space-between;
}

.submitNewTweetButton1 {
  background-color: #4056a1;
  border: 0;
  margin-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Bungee";
}

.counter {
  font-family: "Bungee";
  margin-top: 12px;
}




